<div class="menu-bar__container">

  <div class="menu-bar__logo">
    <img src="assets/ps-logo.png"
    alt="playstation logo"
    srcset=""
    width="140px"
    height="32px"
    >
  </div>

  <div class="menu-bar__item">
    <ul>
      <li><a href="https://www.youtube.com/channel/UCf2_2P44zl94eLnriOp-KKQ">YOUTUBE</a></li>
      <li><a href="https://www.linkedin.com/in/jeferson-gabriel-b919ab1b7/">LINKEDIN</a></li>
      <li><a href="https://github.com/JefersonGabriel1208">GITHUB</a></li>
    </ul>
  </div>

</div>
